/* ==== Variables ==== */

:root {
    --color-redDark: #920b07;
    --color-redBrown: #330b07;
    --color-orange: #965015;
    --color-yellow: #C4923E;
    --color-cream: #ffebd2;

    /*size of header*/
    --header-height: 10rem;

}


/* Custom reset */

html {
    font-size: 0.625rem;

}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

img {
    width: 100%;
    display: inline-block;
    margin: auto, 0;
}

ul {
    list-style-type: none;
    padding: 0;
}