@import "./common/button.css";
@import "./common/card.css";
@import "./common/notification.css";


.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.flex--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    padding: 2rem;
    background: linear-gradient(var(--color-redBrown) 0%, var(--color-redDark) 100%);
    color: inherit;

}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}


section.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    min-width: 300px;
    margin: 0;
}

section.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

}

section.modal-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.hidden {
    display: none;
}
