/* ====== General ======= */

html {
    position: relative;
}

body {
    padding: var(--header-height) 2rem 2rem 2rem;
    min-height: 100vh;
    background: linear-gradient(var(--color-brown) 0%, var(--color-dark) 100%);
    color: var(--color-cream);
    font-family: 'Turret Road', sans-serif;
}

section {
    margin: 1.5rem 0;
}

/* ======== Header ======== */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 2rem;
    background: linear-gradient(var(--color-brown) 0%, var(--color-dark) 100%);
}


/*mobile first default value*/

header .greeting,
header ul {
    display: none;
}


.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

/* menu-slide */

#mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 150;
    padding: 2rem;

    transform: translateX(-100%);
    transition: transform 0.45s cubic-bezier(.77, 0, .18, 1);

}


#mobile-menu.expanded {
    transform: translateX(0%);
    transition: transform 0.45s cubic-bezier(.77, 0, .18, 1);
}

#mobile-menu .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 300px;
}


/* ===========  Footer =========== */

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .social {
    display: flex;
    gap: 2rem;
}

footer .social img {
    width: 40px;
}


@media (min-width: 481px) {
    /* tablette et plus */
}

@media (min-width: 1280px) {
    /* desktop */

    /* Hide "menu button" on large screen by default */
    header button {
        display: none;
    }

    /*Show nav link*/
    header ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    header .greeting {
        display: flex;
    }


    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

}