/* =======================
   GLOBAL
======================= */

h2 {
  text-align: center;
  margin: 2rem 0;
}

main section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}



/* =======================
   TABLETTE ET +
======================= */

@media (min-width: 481px) {
  main section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {

  /* desktop */
  main section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}